@model IEnumerable<StrangeScout.Models.Matches>

@{
    ViewData["Title"] = "Raw data";
}

<h1>Index</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Round)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CycleTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engaged_A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engaged)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Round)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CycleTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    @Html.DisplayFor(modeltem => item.Engaged_A)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Engaged)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
